<!doctype html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>designory. - Front End Developer - Miramontes Take Home Test</title>
    <meta name="description" content="designory front end developer take home test">
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <div class="container navbar">
        <div class="row">
            <div class="half column">
                <div class="logo">
                    designory.<sup>&reg;</sup>
                </div>
            </div>
            <div class="half column">
                <ul class="nav">
                    <li><a href="#">Portfolio</a></li>
                    <li><a href="#">Process</a></li>
                    <li><a href="#">Journal</a></li>
                    <li><a href="#">Contact Info</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container hero">
        <div class="row">
            <div class="one column">
                    <h2>Well, Hello there</h2>
                    <h1>This is where your message should go.</h1>
                    <a class="btn" href="#">Download now</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="one-third column">
                <div class="article">
                    <div id='article-image-1'></div>
                    <h1>Article 1</h1>
                    <h2>Aug 8, 2013</h2>
                    <p>Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam.</p>
                </div>
            </div>
            <div class="one-third column">
                <div class="article">
                    <div id='article-image-2'></div>
                    <h1>Article 2</h1>
                    <h2>Aug 14, 2013</h2>
                    <p>Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam.</p>
                </div>
            </div>
            <div class="one-third column">
                <div class="article">
                    <div id='article-image-3'></div>
                    <h1>Article 3</h1>
                    <h2>Aug 23, 2013</h2>
                    <p>Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam.</p>
                </div>
            </div>
        </div>
        <div class="row highlight">
            <div class="half column">
                <div class="shadow">
                    <div id="highlight-image"></div>
                </div>
            </div>
            <div class="half column template">
                <h1>Get the New Razda template</h1>
                <h2>The best new way to showcase your work</h2>
                <p><span>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi nonhabent claritatem insitam;est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectore</span>s legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectoru</p>
                <a href="#" class="btn">Download now</a>
            </div>
        </div>
        <div class="row footer">
            <div class="half column">
                Phone: <span>855.827.1938</span>
            </div>
            <div class="half column copyright">
                &copy; Copyright 2013 <span>Designory.com
            </div>
        </div>
    </div>
    <script src="js/main.js"></script>
</body>
</html>
